.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #344C64;
    padding-top: 20px;
    color: rgb(3, 10, 77);
    padding-left: 20px;
    z-index: 999;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li,
.accordion {
    padding: 10px;
    font-size: 18px;
    background-color: #092f49;
    color: white;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.sidebar li:hover,
.accordion:hover {
    background-color: #6b8596;
}

.panel {
    display: none;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
    border-left: 3px solid;
    margin-bottom: 10px;
    flex-direction: column;
}

.panel a {
    display: block;         
    margin-bottom: 5px;   
    text-decoration: none; 
    padding: 10px 18px;    
    margin: 0;  
    font-size: 30;
}

.panel a:hover {
    background-color: #F1EFEC;    
    color: black;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-left a,
.navbar-right {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: none; 
    align-items: center;       
    cursor: pointer;            
    position: relative; 
}

.img {
    border-radius: 200px;
    margin-left: 15px;
    vertical-align: middle;
}

.dropdown-content {
    display: none;             
    position: absolute;         
    right: 0;                  
    background-color: white;  
    min-width: 160px;          
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
    top: 100%;               
    margin-top: 2px;          
    border-radius: 5px;        
}

.dropdown-content a {
    color: black;              
    padding: 12px 16px;       
    text-decoration: none;    
    display: block;           
}

.dropdown-content a:hover {
    background-color: #6b8596;    
    color: white;
}

.navbar li {
    list-style: none;
}

.navbar i {
    margin-right: 8px;
}

.content-wrapper {
    margin-left: 250px; 
    padding-top: 50px;  
    min-height: 100vh;
    border-top: none;
}

.main-content {
    background-color: #F1EFEC;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
}


form {
    max-width: 600px;           
    margin: 20px auto;         
    background-color: rgb(94, 119, 145); 
    padding: 20px;             
    border-radius: 8px;        
}

form input, form select, form textarea {
    width: 100%;              
    padding: 10px;               
    margin-bottom: 15px;         
    border: 1px solid #ddd;    
    border-radius: 4px;          
    box-sizing: border-box;    
}

form button {
    background-color: #000000;  
    color: white;              
    padding: 12px 20px;          
    border: none;              
    border-radius: 4px;         
    cursor: pointer;           
    width: 100%;                 
    font-size: 16px;             
}

form button:hover {
    background-color: #092f49;   
}

form p {             
    margin: 5px 0;
}
