<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipamentos EPI</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <li class="w3-xlarge"><i class="fa fa-home"></i> Home</li>
    
    <button class="accordion">Equipamentos</button>
    <div class="panel">zz
    <p></p>
    </div>

    <button class="accordion">Conrtrole EPI</button>
    <div class="panel">
    <p></p>
    </div>

    <button class="accordion">Colaborador</button>
    <div class="panel">
    <p></p>
    </div>

    <script src="static/script/script.js"></script>
    
</body>
</html>