{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipamentos EPI</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header>
        <div class="navbar">
            <div class="navbar-left">
                <li class="w3-xlarge"><a href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a></li>
            </div>
            <div class="navbar-right">
                <span> Usuário </span>
                <img class="img" src="https://www3.sarah.br/AuthPaciente/Content/images/user.png" width="25">
            </div>
        </div>
        <div class="sidebar">
            <button class="accordion">Equipamentos</button>
            <div class="panel">
                <a href="/cadastrar_epi">Cadastrar equipamentos</a>
                <a href="/listar_epi">Editar equipamentos</a>
            </div>

            <button class="accordion">Controle EPI</button>
            <div class="panel">
                <a href="/registrar">Registrar ação</a><br>
                <a href="javascript:void(0)">Relatórios</a>
            </div>

            <button class="accordion">Colaborador</button>
            <div class="panel">
                <a href="/cadastrar_colaborador">Cadastrar colaborador</a>
                <a href="#">Relatórios</a><br>
                <a href="/listar_colaboradores">Editar colaboradores</a>
            </div>
        </div>

    </header>

    <div class="content-wrapper">
        <main class="main-content">
            {% block content %}{% endblock content %}
        </main>
    </div>
    

            {% load static %}
            <script src="{% static 'script/script.js' %}"></script>

</body>

</html>