{% extends 'app_home/pages/home.html' %}

{% block content %}
    <div class="w3-container">
        <h2>Colaboradores Cadastrados</h2>

        {% if colaboradores %}
            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr class="w3-light-grey">
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Cargo</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for colaborador in colaboradores %}
                        <tr>
                            <td>{{ colaborador.nome }}</td>
                            <td>{{ colaborador.email }}</td>
                            <td>{{ colaborador.cargo }}</td>
                            <td>{{ colaborador.telefone }}</td>
                            <td>
                                <a href="{% url 'editar_colaborador' colaborador.id %}" class="w3-button w3-blue w3-small">
                                    <i class="fa fa-pencil"></i> Editar
                                </a>
                                <a href="{% url 'excluir_colaborador' colaborador.id %}" class="w3-button w3-red w3-small" onclick="return confirm('Tem certeza que deseja excluir {{ colaborador.nome }}?')">
                                    <i class="fa fa-trash"></i> Excluir
                                </a>
                            </td>                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhum colaborador cadastrado.</p>
        {% endif %}
    </div>
{% endblock content %}